
    
    <main class="minh-100vh">
        <section class="">
            <div class="bg-container theme-backgroundColor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 text-center">
                            <div class="__ps_cnt">
                                <h1 class="ps_logo pecus-font">{{title_site}}</h1>
                                <!--<p>{{userid|json}}</p>-->
                                <a href="#!/getting-started" class="btn btn-white btn-round">Come funziona</a>
                                <a href="#!/access/signin" class="btn btn-white btn-round" ng-if="logged == false" ng-show="logged == false">Registrati</a>
                            </div>    
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="assets/img/pecus-image/pecus_logo.png" class="ps_logo_image" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="section__feed">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="slider-for col-12" style="width: 100%; height: 100%;overflow: hidden;">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><p>La Piazzetta: Dona, scambia, valorizza ci&ograve; che sai fare</p></div>
                                    <div class="swiper-slide"><p>Il Mercato: Risparmia e sostieni l'economia del tuo territorio</p></div>
                                    <div class="swiper-slide"><p>La Fiera: Smobilizza l'invenduto e abbatti i costi di fornitura</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="section__card">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="max-width: 20rem;">
                                <div class="card-body text-center">
                                    <h4 class="card-title">La Piazzetta</h4>
                                    <img src="assets/img/pecus-image/client.png" width="70px" />
                                    <img src="assets/img/pecus-image/client2.png" width="70px" />
                                    <h6 class="card-subtitle">Consumer to Consumer</h6>
                                    <a href="#!/desk/piazzetta" class="btn btn-info btn-round btn-sm">Entra</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="max-width: 20rem;">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Il Mercato</h4>
                                    <img src="assets/img/pecus-image/client.png" width="70px" />
                                    <img src="assets/img/pecus-image/business.png" width="70px" />
                                    <h6 class="card-subtitle">Business to Consumer</h6>
                                    <a href="#!/desk/mercato" class="btn btn-success btn-round btn-sm">Entra</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="max-width: 20rem;">
                                <div class="card-body text-center">
                                    <h4 class="card-title">La Fiera</h4>
                                    <img src="assets/img/pecus-image/business.png" width="70px" />
                                    <img src="assets/img/pecus-image/business2.png" width="70px" />
                                    <h6 class="card-subtitle">Business to Bussines</h6>
                                    <a href="#!/desk/fiera" class="btn btn-warning btn-round btn-sm">Entra</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
