<div class="container">
    <nav class="float-left">
        <ul>
            <li>
                <a href="#!/">
                    Home
                </a>
            </li>
            <li ng-if="logged == true">
                <a href="#!/policies">
                    Condizioni D'uso
                </a>
            </li>
            <li ng-if="logged == true">
                <a href="#!/privacy">
                    privacy e Cookies
                </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <p class=" text-right">Copyright © {{title_site}} 2018</p>
    </div>
</div>
<div class="error_log"></div>