<!--<div class="header-box" style="margin-top: 20px;height: 55vh;">
    <div class="container load_map" style="z-index: 0;">
        <div class="row">
            <div class="col-12">
                <div class="text-center white-text relative" style=" position: absolute; left: 50%;margin-left: -133.64px;top: 150px;">
                    <img src="favicon.png" width="40px"/>
                    <span class="load corners"></span> 
                    <h1 class="pecus-font">Pecuswap</h1>  
                </div>
            </div>
        </div>
    </div>
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="z-index: 10;" id="map__" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.309577858769!2d16.49765131484212!3d41.23681401327994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133807080953934f%3A0x6d2d2e572996ef66!2sVia+Campanella%2C+16%2C+76011+Bisceglie+BT!5e0!3m2!1sit!2sit!4v1512580286997"></iframe>
</div>-->
<div class="header-box">

    <div class=container>
        <div class="row">
            <div class="col-12">
                <div class="text-center white-text relative">
                    <h1 class="pecus-font" style="margin-top: 50px;">Pecuswap</h1>  
                </div>
            </div>
        </div>
    </div>

</div>
<main item >
    <section class="">
        <div class="section__card margin-top box-r__">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="margin-bottom: 30px;">Inviaci un messaggio</h2>
                        <div class="form-group">
                            <label for="exampleInput1" class="bmd-label-floating">Nome Completo</label>
                            <input type="text" class="form-control" id="exampleInput1">
                        </div>

                        <div class="form-group">
                            <label for="exampleInput1" class="bmd-label-floating">Numero di telefono</label>
                            <input type="text" class="form-control" id="exampleInput1">
                        </div>

                        <div class="form-group">
                            <label for="exampleInput1" class="bmd-label-floating">Indirizzo email</label>
                            <input type="email" class="form-control" id="exampleInput1">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"  class="bmd-label-floating">Messaggio</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="description"></textarea>
                        </div>
                        <br>
                        <small>
                            Prendo atto che i dati raccolti mediante il presente form saranno trattati esclusivamente per rispondere al messaggio in esso riportato. 
                            Sono consapevaole che posso esercitare i diritti previsti dal Regolamento UE 2016/679 (General Data Protection Regolation), ove applicabili, e che ho accesso alla relativa informativa <a href="#!/privacy">cliccando qui</a>. 
                            Cliccando sul tasto "Invia messaggio" accetto quanto sopra. 
                        </small>
                        <br><br>
                        <button type="button" class="btn btn-info">Invia messaggio</button>
                        <div id="sliderRegular" class="slider"></div>
                    </div>
                    <div class="col-md-4 ml-auto" ng-if="false">
                    <!--<div class="center-box">
                            <div class="cnt-center-box">
                                <div class="float-left"><i class="material-icons theme-textColor">location_on</i></div>
                                <div class="float-left">
                                    <h3 class=""> Dove trovarci</h3>
                                    <p>Via Campanella 16<br> 76011 BISCEGLIE (BT)</p>
                                </div>
                            </div>
                        </div>
                        <div class="center-box">
                            <div class="cnt-center-box">
                                <div class="float-left"><i class="material-icons theme-textColor">phone</i></div>
                                <div class="float-left">
                                    <h3 class="">Contatti</h3>
                                    <p>Nome Cognome</p>
                                    <p>+39 000 0000 000</p>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>