<main class="minh-100vh">
    <section class="access_panel how_work">
        <div class="row">
            <div class="col-xs-12 col-sm-12 white">
                <div class="container-column disable-hc" style="min-height: 100%;">
                    <!-- Swiper -->
                    <div class="swiper-container col-12">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-color: #2196f3"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>{{title_site}}</h2>
                                    <p>&Egrave; atricolato in 3 sezioni: </p>
                                    <h4>La Piazzetta - Consumer to Consumer</h4>
                                    <h4>Il Mercato - Business to Consumer</h4>
                                    <h4>La Fiera - Business to Business</h4>
                                </div>
                                <a href="#signin" class="btn btn-info btn-fab btn-round btn-dark swiper-button-next">
                                    <i class="material-icons ">keyboard_arrow_right</i>
                                </a>
                            </div></div>
                            <div class="swiper-slide" style="background-color: rgb(33, 98, 243)"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>Il Privato</h2>
                                        
                                    <p>
                                        L’utente privato si iscrive gratuitamente a <b>{{title_site}}</b> e riceve 50 crediti Pecus.<br>
                                        Ha accesso alla Piazzetta e al Mercato.
                                    </p>
                                    <a href="#signin" class="btn btn-info btn-fab btn-round btn-dark swiper-button-next">
                                        <i class="material-icons ">keyboard_arrow_right</i>
                                    </a>
                                </div>
                            </div></div>
                            <div class="swiper-slide" style="background-color: rgb(33, 69, 243)"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>La Piazzetta</h2>
                                    <p>
                                        La Piazzetta è un luogo di scambio riservato ai privati in cui ciascun utente può, mediante annunci, cedere propri beni oppure offrire servizi ottenendo i cambio crediti Pecus con cui potrà procurarsi beni o servizi da altri utenti in qualsiasi momento. <br>
                                        Nella Piazzetta si favorisce il riuso dei beni e la condivisione di competenze.
                                    </p>
                                    
                                    <a href="#signin" class="btn btn-info btn-fab btn-round btn-dark swiper-button-next">
                                        <i class="material-icons ">keyboard_arrow_right</i>
                                    </a>
                                </div>
                            </div></div>
                            <div class="swiper-slide" style="background-color: rgb(56, 33, 243)"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>Il Mercato</h2>
                                        
                                    <p>
                                        Nel Mercato l’utente privato può impiegare i propri crediti Pecus presso le attività commerciali del circuito {{title_site}}.<br>
                                        Al credito Pecus viene attribuito il valore di 1 euro.<br>
                                        L’utente privato riduce l’esborso di denaro, gli utenti commerciali incrementano le proprie vendite.
                                    </p>
                                    <a href="#signin" class="btn btn-info btn-fab btn-round btn-dark swiper-button-next">
                                        <i class="material-icons ">keyboard_arrow_right</i>
                                    </a>
                                </div>
                            </div></div>
                            <div class="swiper-slide" style="background-color: rgb(85, 33, 243)"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>L'impresa</h2>
                                        
                                    <p>
                                        L’impresa si iscrive a Pecuswap e riceve 200 crediti Pecus.<br>
                                        Incrementa la propria visibilità e può pubblicare annunci di vendita sia nel Mercato che in Fiera <br>
                                        Per ogni annuncio indica la quantità di crediti Pecus che accetta.<br>
                                        Può vendere agli utenti privati anche off-line, accettando crediti Pecus.
                                    </p>
                                    <a href="#signin" class="btn btn-info btn-fab btn-round btn-dark swiper-button-next">
                                        <i class="material-icons ">keyboard_arrow_right</i>
                                    </a>
                                </div>
                            </div></div>
                            <div class="swiper-slide" style="background-color: rgb(104, 33, 243)"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>La Fiera</h2>
                                    
                                    <p>
                                        In Fiera l’impresa può vendere ad altre imprese i propri beni o servizi e può procurarsi beni o servizi.<br>
                                        L’impresa riduce la necessità di ricorrere al credito bancario ed alla propria liquidità grazie al pagamento differito in merci contro merci.<br>
                                        Agevola lo smaltimento dell’invenduto e amplia la rete dei propri acquirenti e fornitori.
                                    </p>
                                    <a href="#signin" class="btn btn-info btn-fab btn-round btn-dark swiper-button-next">
                                        <i class="material-icons ">keyboard_arrow_right</i>
                                    </a>
                                </div>
                               
                            </div></div>
                            <div class="swiper-slide" style="background-color: rgb(153, 33, 243)"><div class="slide-setAnim SDFJN">
                                <div class="swiper-container_slide">
                                    <h2>In {{title_site}}</h2>
                                        
                                    <p>In Pecuswap l’ente no profit può incrementare la propria visibilità, ricevere donazioni in crediti Pecus, procurarsi beni o servizi dagli altri utenti.</p>
                                    <button type="button" ng-click="start()" class="btn btn-info">Incomincia</button>
                                </div>
                            </div></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-12 footer-line text-center">
                    <small style="color: #ececec;">&copy; Copyright 2019 - pecuswap </small>
                </div>
            </div>
        </div>
    </section>
</main>