<main>
    <section class="">
        <div class="section__card margin-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center btn-list">
                        <ul class="nav nav-pills nav-pills-icons nav-pills-info" role="tablist">
                            <li class="nav-item nmt">
                                <a class="nav-link" ng-class="(type == 'piazzetta' ? 'active' : '')" href="#!/desk/piazzetta" role="tab" data-toggle="tab">
                                    La Piazzetta
                                </a>
                            </li>
                            <li class="nav-item nmt">
                                <a class="nav-link" ng-class="(type == 'mercato' ? 'active' : '')" href="#!/desk/mercato" role="tab" data-toggle="tab">
                                    Il Mercato
                                </a>
                            </li>
                            <li class="nav-item nmt">
                                <a class="nav-link" ng-class="(type == 'fiera' ? 'active' : '')" href="#!/desk/fiera" role="tab" data-toggle="tab">
                                    La Fiera
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xm-12 col-sm-5 col-md-5 col-lg-3">
                        <div class="clm_l__">
                            <div class="form-group">
                                <label for="order_from">Ordina Per</label>
                                <select class="form-control selectpicker" data-style="btn btn-link" id="order_from">
                                    <option>Dal meno caro</option>
                                    <option>Dal più caro</option>
                                    <option>Dal meno recente</option>
                                    <option>Dal più recente</option>
                                </select>
                            </div>
                        </div>
                        <div class="clm_l__">
                            <h3>Categoria Beni</h3>
                            
                            <ul class="ut-item-list cat_list">
                                <li>
                                    <a ng-click="selezionaCategoria()" class="item-list" ng-class="{ selezionato: cod_cat_merc == '' }">Mostra Tutto <i class="fas fa-chevron-right right"></i></a>
                                </li>
                                <li ng-repeat="item in cat_beni">
                                    <a ng-click="selezionaCategoria(item)" class="item-list level{{item.livello}}" data-parent="{{item.cod_cat_merc_padre}}"  ng-class="{ visibile: item.visibile, selezionato: item.cod_cat_merc == cod_cat_merc }">{{item.descrizione}} <i class="fas fa-chevron-right right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clm_l__">
                            <h3>Categoria Servizi</h3>
                            
                            <ul class="ut-item-list cat_list">
                                <!--<li>
                                    <a ng-click="selezionaCategoria('all')" class="item-list" ng-class="{ selezionato: cod_cat_merc == 'all' }">Mostra Tutto <i class="fas fa-chevron-right right"></i></a>
                                </li>-->
                                <li ng-repeat="item in cat_servizi">
                                    <a ng-click="selezionaCategoria(item)" class="item-list level{{item.livello}}" data-parent="{{item.cod_cat_merc_padre}}"  ng-class="{ visibile: item.visibile, selezionato: item.cod_cat_merc == cod_cat_merc }">{{item.descrizione}} <i class="fas fa-chevron-right right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clm_l__">
                            <div class="form-group">
                                <label for="exampleInput1" class="bmd-label-floating">Prezzo massimo</label>
                                <input type="text" class="form-control" id="exampleInput1">
                            </div>
                        </div>
                        <div class="clm_l__">
                            <div class="form-group">
                                <label for="exampleInput1" class="bmd-label-floating">Distanza dal venditore</label>
                                <input type="text" class="form-control" id="exampleInput1">
                            </div>
                        </div>
                        <div class="clm_l__">
                            <button type="button" class="btn btn-info col-md-12">Avvisami</button>
                        </div>
                        <div class="clm_l__">
                            <button type="button" class="btn btn-info col-md-12">Crea Annuncio</button>
                        </div>
                        <div class="clm_l__">
                            <button type="button" class="btn btn-info btn-link col-md-12">Trasferisci Pecus</button>
                        </div>
                    </div>
                    <div class="col-xm-12 col-sm-7 col-md-7 col-lg-9">
                        <div class="row">
                            <div class="col-xm-12 col-md-6 col-lg-4" ng-repeat="item in item_list"><!-- ng-repeat="n in [] | range:10" -->
                                <div class="card e-list" data-catmerc="{{item.cod_cat_merc}}" data-categeory="{{item.id_piattaforma}}" data-desccategory="{{item.desc_piattaforma}}">
                                    <a href="#!/item/{{cat_tag}}_{{item.id_annuncio}}">
                                        <div class="image-csm">
                                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/19.jpg" alt="Card image cap">
                                        </div>
                                    </a>
                                    <div class="card-body text-center">
                                        <div class="card-n_t">
                                            <h4 class="card-title"><a href="#!/item/{{cat_tag}}_{{item.id_annuncio}}">{{item.titolo}}</a></h4>
                                            <p class="text-left">{{item.descrizione}}</p>
                                        </div>
                                        <div class="flex text-left relative">
                                            <p class="price_">{{item.prezzo_crediti}} <i class="customicon customicon-pecuswap"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>