@import url('https://fonts.googleapis.com/css?family=Coiny');
@font-face{
    font-family: 'Anja-Eliane';
    src: url('../fonts/Anja-Eliane.ttf.woff');
}

/* Custom icons */

@font-face {
    font-family: 'customicons';
    src: url("../fonts/customicons.ttf");
}
  
@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.ttf");
}
  
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/myriadproregular.woff");
}

/* Global Styles*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Roboto,Helvetica,Arial,sans-serif;
}

.pecus-font{
    font-family: 'Anja-Eliane';
}

nav .only-moby{
    display: none;
}

@media (max-width: 990px) {
    nav .only-moby{
        display: block;
    }
}

/*Global Variables*/
.theme-backgroundColor{
    background-color: #2196f3;
}
.theme-textColor{
    color: #2196f3 !important;
}

a{
    color: #2196f3;
}
a:hover{
    text-decoration: underline;
}
.navbar .navbar-brand{
    margin-left: 10px; 
}

.navbar .navbar-nav .nav-item .nav-link{
    font-weight: 800 !important;
}
.navbar ul.navbar-nav{
    margin: 0 auto;
    margin-right: -50px;
}
nav.navbar ul.navbar-nav.loggedin{
    margin: unset;
    margin-right: 0px;
}
nav.navbar .logo-nav{
    padding: 0px;
    line-height: 3rem;
}
nav.navbar .logo-nav .ripple-container{
    display: none;
}
@media (max-width: 990px){
    nav.navbar .logo-nav{
        display: none;
    }
    .nav .nav-item.nmt{
        width: 100%;
    }
}
nav.navbar ul li a.fx_11{
    line-height: 50px !important;
    padding: 0 6px !important;
}
nav.navbar ul li a.fx_11 img{
    border-radius: 50%;
}
nav.navbar .top-search {
    margin: 2px 0;
    overflow: hidden;
    position: relative;
    width: calc(100% - 140px);
}
nav.navbar .top-search i{
    position: absolute;
    top: 16px;
    left: 17px;
    font-size: 1.3rem;
}
nav.navbar .navbar-collapse span.text-clx{ display:none; }

@media (max-width: 991px){
    nav.navbar .navbar-collapse  .top-search{
        width: 100%;
        z-index: 10;
        padding: 15px;
    }
    nav.navbar .navbar-collapse .bmd-form-group input[type="text"]{
        height: 40px;
        padding: 5px 10px 5px 40px;
        border-radius: 3px;
    }
    nav.navbar .navbar-collapse  .top-search i{
        top: 25px;
        left: 30px;
        font-size: 1.2rem;
    }
    nav.navbar .navbar-collapse ul li .badge.n_noty{
        top: 15px;
        left: 23px;
    }
    nav.navbar .navbar-collapse ul li .dropdown-toggle:after {
        margin-top: 20px;
    }
    nav.navbar .navbar-collapse .navbar-nav .nav-item:after{
        background: transparent;
    }
    nav.navbar .navbar-collapse ul li a{
        text-align: left;
        display: -webkit-box;
    }
    nav.navbar .navbar-collapse span.text-clx{
        display: block;
        margin-left: 5px;
    }
}

body:not(.access-page) nav.navbar{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}
.top-search__input {
    border: 0;
    height: 50px;
    padding: 10px 20px 10px 50px;
    border-radius: 2px;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 15px;
    color: #22313a;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
}
.top-search__input:focus{
    background-color: #f7f7f7;
}
.top-search .bmd-form-group{
    width: 100%;
}
.top-search__reset {
    left: 0;
    font-size: 20px;
    color: #b4bfc3;
    top: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 100%;
}


html.collapse .navbar ul.navbar-nav{
    margin: 0 auto;
    margin-right: 0px;
}

main{
    position: relative;
    display: block;
}
main.minh-100vh{
    min-height: 100vh;
}
main section{
    position: relative;
    display: block;
}

main section .bg-container{
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.navbar .navbar-toggler{
	border: none;
}

main[item]{
    margin-top: 70px;
}

main h1.ps_logo{
    font-weight: 500;
    /*font-family: 'Coiny', cursive;*/
    color: #fff;
    font-size: 6.6rem;
}
main .ps_logo_image{
    width: 100%;
    margin-top: 60px;
}
@media (max-width: 767px) {
	main .ps_logo_image{
		width: 300px ;
		margin-bottom: 60px;
	}
}
main h2{
    color: #fff;
    font-weight: 400;
    margin-top: 0px;
}
main .__ps_cnt{
   /* margin-top: 131px;*/
   margin-top: -70px;
   position: relative;
   top: 50%;
}

/*
 *  SECTION FEEDBACK
 */
.section__feed{
    background-color: #f5f5f5;
}
@media (max-width: 550px){
    
}
.section__feed p{
    padding: 50px 0;
    font-size: 2rem;
}
.section__card{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (max-width: 995px) {
	main h1.ps_logo{
		font-size: 4rem;
	}
    .section__feed{
        padding: 10px 0;
    }
}
.section__card .card{
	margin-right: auto;
	margin-left: auto;
}
.section__card .card .card-body {
    position: relative;
}
.section__card .card .card-body .card-title{
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 200px;*/
}
.section__card .card .card-body img{
    display: initial;
    height: 166px;
    width: 70px;
}
.section__card .card .card-body a{
    margin-top: 10px;
}
.section__card .card .card-body h6{
    font-size: 1.2rem;
    text-transform: unset;
    font-weight: 100;
    margin-top: 10px;
}
/*Page List items*/
.section__card ul li a.item-list{
    cursor: pointer;
}
.section__card ul li a.item-list.level2{
    padding-left: 20px;
    display: none;
    font-style: italic;
    line-height: 170%;
}
.section__card ul li a.item-list.visibile{
    display: block;
}
/* Page product list */
.section__card.margin-top{
    margin-top: 70px;
}
.section__card ul {
    list-style: none;
    background: #fff;
    width: 100%;
}
.section__card ul li a{
    width: 100%;
    display: block;
    font-size: .9rem;
    padding: 10px 5px;
    color: #666666;
}
.section__card ul li:last-child a{
    border-bottom: 1px solid transparent;
}
.section__card ul li a:hover{
    color: #000;
}

.section__card ul li a.selezionato{
    font-weight: bold;
}
.section__card ul li a i{
    margin-top: 5px;
}
.section__card .btn-list{
    margin-bottom: 60px;
}
.section__card .btn-list ul{
    display: inline-flex;
    box-shadow: none;
    width: auto;
}
.card .card-n_t p{
    font-size: 14px !important;
    margin: 0 0 10px;
    color: #999;
}
.card .card-body .price_{
    font-size: 18px !important;
    color: #9a9a9a;
}
.card.e-list {
    margin-top: 0px;
    box-shadow: none;
}
.card.e-list .image-csm{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 15px;
    position: relative;
}
@media (max-width: 760px) {
	.card.e-list .image-csm{
		height: 380px;
	}
}
@media (max-width: 425px){
	.card.e-list .image-csm {
		height: 290px;
    }
}

.card.e-list .image-csm img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.card.e-list .card-body h4{
    font-size: 1.2rem;
    margin-bottom: 0px;
}
.card.e-list .card-body .price_{
    font-size: 1.2rem;
    margin-top: 0px;
    display: flex;
    line-height: 2.8rem;
}
.pecus-budget{
    width: 20px;
    height: 25px;
    display: inline-block;
    background: url(../img/pecus-image/coin.png) no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pecus-budget.position-item{
    position: relative;
    margin: 10px 0;
    margin-right: 5px;
}
main[item] .section__card h2{
    color: #777 !important;
}

main[item] .item-info{
    padding: 80px 0 0 0;
}
main[item] .item-info p.feed-p-desc{
    font-size: 1.2rem;
}
.section__card .card .card-body a.favorite_item{
    margin-top: 6px;
    position: absolute;
    right: 0px;
    font-size: 1rem;
    padding: 8px;
}
.index .section__card .card{
    box-shadow: none;
}
.list-icn{
    padding: 15px 0;
    text-align: center;
    float: none !important;
}
.list-icn .icn-favourite i{
    color: #2196f3 !important;
}
.list-icn .icn-facebook{
    line-height: 25px;
}
.list-icn .icn-facebook i{
    color: #3a5794 !important;
}
.list-icn .icn-email i{
    color: #b7b7b7 !important;
}
.list-icn .icn-print i{
    color: #b7b7b7 !important;
}
.list-icn a i{
    font-size: 1rem;
}

/* Footer */
@media (max-width: 767px){
    footer .float-left{
        margin: 0 auto;
        width: 350px;
        float: none !important;
    }
    footer div.row{
        text-align: center;
        display: -webkit-inline-box;
        width: 100%;
    }
    footer div.row p{
        padding: 5px 0;
        font-size: 1rem;
        text-align: center !important;
    }
}
footer{
    background-color: #2196f3; 
}
footer p{
    color: #fff;
    margin: 0px;
    padding: 15px 0;
    font-size: 1rem;
    width: 100%;
}
footer ul li a{
    color: #fff;
}
footer ul li a:hover, footer ul li a:active, footer ul li a:focus, .elab_box footer ul li a{
    color: #000 !important;
}
.clm_l__{
    margin-bottom: 20px
}
.clm_l__ h3{
    margin-top: 35px;
}

/* Access Page */
body.access-page main{
    /*margin-top: 120px;*/
}
body.access-page .navbar.fixed-top {
    /*position: relative;*/
}
.access_panel{
    margin: 50px 50px 50px 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
    display: grid;
}
.load-page{
    -webkit-animation:start-load .33s ease-in; /* Safari & Chrome */
    -moz-animation:start-load .33s ease-in; /* Firefox */
    -ms-animation:start-load .33s ease-in; /* Internet Explorer */
    -o-animation:start-load .33s ease-in; /* Opera */
    animation:start-load .33s ease-in; /* W3C */
}

@keyframes start-load {
    0% {
        margin: 0px;
        border-radius: 0;
        transform: translate(0px,-20px);
    }
    100% {
        margin: 50px;
        border-radius: 6px;
        transform: translate(0px,20px);
    }
}
@-webkit-keyframes start-load {
    0% {
        margin: 0px;
        border-radius: 0;
        transform: translate(0,-20px);
    }
    100% {
        margin: 50px;
        border-radius: 6px;
        transform: translate(0,20px);
    }
}
@-moz-keyframes start-load {
    0% {
        margin: 0px;
        border-radius: 0;
        transform: translate(0,-20px);
    }
    100% {
        margin: 50px;
        border-radius: 6px;
        transform: translate(0,20px);
    }
}
@-ms-keyframes start-load {
    0% {
        margin: 0px;
        border-radius: 0;
        transform: translate(0,-20px);
    }
    100% {
        margin: 50px;
        border-radius: 6px;
        transform: translate(0,20px);
    }
}
@-o-keyframes start-load {
    0% {
        margin: 0px;
        border-radius: 0;
        transform: translate(0,-20px);
    }
    100% {
        margin: 50px;
        border-radius: 6px;
        transform: translate(0,20px);
    }
}

.access_panel .left-clm, .access_panel .right-clm{
    min-height: 100%;
    height: 100%;
    position: relative;
    transition: .4s ease-out;
}
.moby-show{
    display: none;
}
@media (min-width: 767px){
    .access_panel .left-clm, .access_panel .right-clm{
        height: auto;
    }
    #back-clm{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
@media (max-width: 767px){
    .access_panel .right-clm{
        display: none;
        /*display: inline;*/
        transform: translate(100%);
    }
    .nav.nav-pills.nav-reg {
        /*top: 75px !important;
        position: relative !important;
        left: 0 !important;
        margin-left: 0 !important;*/
    }
    .moby-show{
        display: inline;
    }
    #back-clm{
        display: inline;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 460px){
    .access_panel {
        margin: 0px/*50px 20px*/;
    }
    nav.navbar{
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        border-radius: 0px;
    }
}
.access_panel .left-clm img{
    width: 140px;
    height: 140px;
}
.access_panel .hide-left-clm{
    transform: translate(-100%);
    position: absolute;
    left: 0px;
}
@media (min-width: 768px){
    .access_panel .hide-left-clm{
        transform: translate(0%);
        position: relative;
        left: 0px;
    }
}
.access_panel .show-right-clm{
    transform: translate(0%);
}
.access_panel .fshuh__ .display_none{
    display: none;
}
.access_panel .fshuh__ h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 65px;
    color: #edeff0;
}
.access_panel .fshuh__ p{
    font-size: .8rem;
    font-weight: 300;
    color: #edeff0;
}
.access_panel .fshuh__ a.btn, .access_panel .fshuh__ button.btn{
    background-color: #383838;
}
.access_panel .fshuh__ a i, .access_panel .fshuh__ button.btn{
    font-size: 30px;
    left: 1px;
}
.access_panel .fshuh__ a i{
    margin-right: -15px;
    font-size: 22px;
    top: -2px;
}

@media (min-width: 767px) {
    .access_panel .container-column{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767px) {
	.access_panel .container-column:not(.disable-hc){
        width: 100%;
        height: 100%;
        position: absolute;
        top: 200px;
        left: 0px;
    }
}
.access_panel .container-column.disable-hc{
    display: grid;
    height: auto;
    min-height: 928px;
    align-items: unset;
    justify-content: unset;
}
.access_panel .container-column .center-form{
    width: 450px;
}
.access_panel .fshuh__ .display_none {
    display: none;
}
@media (max-width: 1080px){
    .access_panel .container-column .center-form {
        width: 340px;
    }
}
@media (min-width: 1080px){
    .access_panel .container-column .center-form.auto-width {
        width: 650px; 
    }
}
.access_panel .footer-line{
    position: relative;
    bottom: 10px;
}
.login-panel{
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 100px auto;
}
.registration-panel{
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}
.registration-panel b{
    font-weight: 500;
    color: #333333;
}
.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label]{
    color:#00bcd4;
}
.bootstrap-datetimepicker-widget a[data-action] {
    color:#fff;
}
.bootstrap-datetimepicker-widget table td.active>div,
.bootstrap-datetimepicker-widget table td.active:hover>div , .bootstrap-datetimepicker-widget table td span.active{
    background:#00bcd4;
}
.b-error{
    font-size: 12px;
    color: #e41919;
}
.error_log{
    position: fixed;
    top: 70px;
    right: 0px;
    z-index: 10;
}
.error_log .alert button.close{
    position: relative;
    top: -2px;
    left: 0px;
    padding: 0 10px;
}
.iuhsd_{
    margin: auto;
}
.nav .nav-item:not(.nmt){
    margin-top:10px;
}
.nav-pills .nav-item .nav-link{
    border-radius: 4px;
}
.nav.nav-pills.nav-reg{
    /*position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -344.055px;*/
}
.button-facebook {
    background: rgb(80, 113, 181);
    color: #fff;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    margin: 10px auto;
}
.button-facebook span {
    background: url(../img/facebook-icon.png);
    padding: 0px 30px;
    background-color: #3b5998;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.button-facebook p {
    height: auto !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 15px 25px;
    font-size: 14px !important;
    font-weight: 600;
    text-align: center;
    line-height: 1.3 !important;
    font-family: LFTEtica,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.button-facebook:hover, .button-facebook:visited{
    text-decoration: none !important;
    color: #fff;
}
.button-facebook:hover p {
    background: #3b5998;

}
.elab_box .header-box{
    background-color: #2196f3;
    margin-top: 70px;
    padding-top: 50px;
    height: 320px;
}
.elab_box .box-r__{
    margin: -130px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.elab_box footer{
    background-color: transparent !important;
    text-align: right;
    color: #000;
}
.elab_box footer p{
    color: #000;
}
.contact .center-box:first-child{
    margin-top: 100px;
}
.contact .center-box{
    margin-bottom: 30px;
    text-align: center;
    display: table;
}
.contact .float-left i{
    font-size: 2.3rem;
    position: relative;
    top: 17px;
}
.contact .cnt-center-box h3{
    font-weight: 400;
    margin-left: 5px;
}
.contact .cnt-center-box{
    text-align: left;
}
.contact .float-left{
    float: left;
}
.contact .cnt-center-box p{
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 100;
    color: #999;
}
@media (max-width: 456px){
    .elab_box .box-r__{
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
}


/*
 * Slider text 
 */
.slick-slider{
    margin-bottom: 0px !important;
}
.slider-for div p{
    text-align: center;
    padding: 0;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    line-height: 1.9rem;
}


/**
 * FilePond Custom Styles
 */
 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #f8f7fa;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}
.ql-toolbar{
	background: #ffff;
    text-align: center;
	border: none !important;
}
#editor{
	background-color: #fff;
	height: 200px;
	flex: 2;
    overflow: hidden;
	border: none;
}
body.no-footer footer.footer-page{
    display: none;
}
/* load animation*/
.load{
    margin: 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -24px;
    margin-left: -46px;
}
.load:after{
    border: 0 solid transparent;
}

.load.corners{
    border: 5px solid rgba(255, 255, 255, 0.2784313725490196);
    border-radius: 50%;
    -webkit-animation:corners 1.1s ease-in infinite; /* Safari & Chrome */
    -moz-animation:corners 1.1s ease-in infinite; /* Firefox */
    -ms-animation:corners 1.1s ease-in infinite; /* Internet Explorer */
    -o-animation:corners 1.1s ease-in infinite; /* Opera */
    animation:corners 1.1s ease-in infinite; /* W3C */
}
@keyframes corners { /*top-left | top-right | bottom-right | bottom-left*/
    0%{
        border-radius: 50% 50% 50% 50%;
            transform: rotate(0deg);
    }
    10%{
        border-radius: 50% 50% 50% 40%;
            transform: rotate(36deg);
    }
    20%{
        border-radius: 50% 50% 50% 30%;
            transform: rotate(72deg);
    }
    30%{
        border-radius: 50% 50% 50% 20%;
            transform: rotate(108deg);
    }
    
    40%{
        border-radius: 40% 50% 50% 20%;
            transform: rotate(144deg);
    }
    
    50%{
        border-radius: 30% 40% 50% 20%; /* Stall Animation */
            transform: rotate(180deg);
    }
    
    60%{
        border-radius: 20% 30% 50% 20%;
            transform: rotate(216deg);
    }
    
    70%{
        border-radius: 30% 20% 50% 30%;
            transform: rotate(252deg);
    }
    80%{
        border-radius: 40% 30% 50% 40%;
            transform: rotate(288deg);
    }
    
    90%{
        border-radius: 50% 40% 50% 50%;
            transform: rotate(324deg);
    }
    
    100%{
        border-radius: 50% 50% 50% 50%;
            transform: rotate(360deg);
    }
}

/*Customize framework*/
ul.nav {
    display: block;
}
ul.nav li.nav-item{
    display:inline-block;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.btn-white, .white{
    background: #fff;
    color: #000 !important;
}
.white-text, .white-text p{
    color: #fff;
}
.right{
    float: right;
}
/*.row{
    margin-left: 0px;
    margin-right: 0px;
}*/
.full-width{
    position: relative;
    width: 100%;
}
.form-group{
    margin-bottom: 0px;
}
.form-group .form-control{
    background: #f5f8f9; /* or #edeff0 */
    padding: 10px;
    height: 40px;
    border-radius: 3px;
}
.form-group.is-focused .form-control{
    background-image: none;
}
.bmd-form-group [class*=" bmd-label"].bmd-label-floating, .bmd-form-group [class^=bmd-label].bmd-label-floating{
    margin: 0 10px;
}
.bmd-form-group.is-focused [class*=" bmd-label"].bmd-label-floating, .bmd-form-group.is-focused [class^=bmd-label].bmd-label-floating,
.bmd-form-group.is-filled [class*=" bmd-label"].bmd-label-floating, .bmd-form-group.is-filled [class^=bmd-label].bmd-label-floating{
    margin-top: -6px;
}
.form-check{
    margin: 15px 3px;
}
.form-check .form-check-input:checked+.form-check-sign .check {
    background: #00bcd4;
}
.btn-transparent{
    background: transparent !important;
    box-shadow: none !important;
    color: #000 ;
}
@media (max-width: 991px){
    .nav-open .navbar-collapse {
      /*transform: translate3d(230px,0,0);*/
    }
    .navbar ul.navbar-nav{
        text-align: center;
    }
    .nav .nav-item{
        margin-left: 0px;
    }
}

.disabled{
    background: #dadada;
}
.black-text, a.black-text, .black-text p, .black-text a, .black-text i{
    color: #000;
}
.float-left{
    float: left;
}
.right{
    float: right;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
.navbar .navbar-nav .nav-item .nav-link.no-tgl{
    padding-right: 10px;
}
.no-tgl:after{
    border:none;
    padding: 0px;
    margin: 0px;
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(15,102,171,.4);
    background-color: #2196f3;
    color: #fff;
}
.badge.n_noty{
    padding: 3px 5px;
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 1;
}
.no-margin{
    margin: 0px;
}
.hide{
    display: none;
}
.dropdown-menu.right-position{
    right: 0px;
    left: auto;
    transform-origin: 100% 0;
}

.customicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'customicons' !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.customicon-warning:before {
    content: "\0061";
}

.customicon-message:before {
    content: "\0062";
}

.customicon-search:before {
    content: "\E800";
}

.customicon-pecuswap:before {
    content: "\0070";
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-left: 5px;
}
  

/*Collapse*/
.card-collapse .card-header{
    border-bottom: 1px solid #ddd;
    background: transparent !important;
    box-shadow: none !important;
    margin-left: 0px !important;
    padding-left:5px !important;
    margin-right: 0px !important;
    padding-right:5px !important;
    padding: 0px;
}
.card-collapse .card-header a{
    color: #000 !important;
    font-size: .9rem;
    display: block;
    padding: 10px 0;
}
.card-collapse .card-header a i{
    float: right;
}
.card-collapse .card-header a[aria-expanded="true"] i{
    color: #fff;
    transition: 0s;
}
.card-collapse .card-header a[aria-expanded="true"] > i:after{
    content: 'keyboard_arrow_up';
    color: #2196f3;
}
.card-collapse{
    margin: 0px;
}



.btn.btn-info, .btn.btn-success, .btn.btn-warning{
    /*color: #ffff !important;*/
}

.has-danger .form-control, .has-danger .form-control:invalid, .is-focused .has-danger .form-control{
    background: #fee2e2;
    border: 1px solid #ffd2d2;
}
.form-group .form-control-feedback.show:not(.ng-hide){
    color: red;
    opacity: 1;
    top: 30px;
}
.form-group .label-error{
    display: none;
    font-size: .7rem;
    margin: 10px;
    color: #aeaeae;
    font-weight: 600;
}
.alert.alert-danger{
    margin: 10px;
    border-radius: 3px; 
}
@media (max-width: 991px){
    html.collapse{
        display: block;
    }
}

/* Feedback */
.feedback .f-checked {
    color: orange;
}
.card.card-carousel{
    box-shadow: none;
					 
				 
				   
					 
}
.carousel .carousel-indicators li{
    border: 1px solid #2196f3;
    background: #2196f3;
}

@media (max-width: 768px){
    .container {
        max-width: 100%;
    }
}

.filepond--root {
	width:170px;
	margin: 0 auto;
}
select.selectpicker{
    display: block !important;
}

/*loadig*/
.sk-fading-circle {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .img_loaded img.blur{
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  .img_loaded .sk-fading-circle{
      display: none;
  }

  .sk-fading-circle.header-top-image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .blur{
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #929292;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }

