    <h3 class="black-text">Dati Anagrafici</h3>

    <div class="form-group">
        <label for="denominazione" class="bmd-label-floating">Nome e Cognome *</label>
        <input type="text" class="form-control" name="denominazione" id="denominazione" ng-model="userType.denominazione" required/>
    </div>

    <div class="col-md-12">
        <br>
        <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="sesso" value="U"> Uomo
                <span class="circle">
                    <span class="check"></span>
                </span>
            </label>
        </div>
        <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="sesso" value="D"> Donna
                <span class="circle">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
    <!-- input with datetimepicker -->
    <div class="form-group">
        <label class="label-control">Data di nascita*</label>
        <input type="text" class="form-control datetimepicker" value="10/05/2016" id="data_nascita" name="data_nascita" valid-date-format="" placeholder="Data di Nascita GG/MM/AAAA es. 31/12/2000" required/>
    </div>

    <div class="form-group">
        <label for="comune_nascita" class="bmd-label-floating">Comune di nascita*</label>
        <input type="text" class="form-control" id="comune_nascita" name="comune_nascita" ng-model="utente_corrente.data_nascita" valid-date-format required />
    </div>
    <div class="form-group">
        <label for="codice_fiscale" class="bmd-label-floating">Codice Fiscale*</label>
        <input type="text" class="form-control" id="codice_fiscale" name="codice_fiscale" ng-model="utente_corrente.codice_fiscale" capitalize required />
    </div>
    <div class="form-group">
        <label for="prefessione" class="bmd-label-floating">Professione*</label>
        <input type="text" class="form-control" id="prefessione" name="prefessione" ng-model="utente_corrente.prefessione" capitalize required />
    </div>
    <div class="form-group">
        <label for="partita_iva" class="bmd-label-floating">Partita IVA*</label>
        <input type="text" class="form-control" id="partita_iva" name="partita_iva" ng-model="utente_corrente.partita_iva" required />
    </div>
    <div class="form-group">
        <label for="pec" class="bmd-label-floating">PEC*</label>
        <input type="text" class="form-control" id="pec" name="pec" ng-model="utente_corrente.pec">
    </div>