    <h3 class="black-text">Societ&agrave;</h3>

    <div class="form-group">
        <label for="denominazione" class="bmd-label-floating">Ragione Sociale*</label>
        <input type="text" class="form-control" name="denominazione" id="denominazione" required/>
    </div>

    <div class="form-group">
        <label for="partita_iva" class="bmd-label-floating">Partita IVA*</label>
        <input type="text" class="form-control" id="partita_iva" name="partita_iva" required />
    </div>
    <div class="form-group">
        <label for="pec" class="bmd-label-floating">Pec*</label>
        <input type="text" class="form-control" id="pec" name="pec" >
    </div>